<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>500 - Something went wrong</title>
  </head>
  <body>
	<h1>Something went wrong</h1>
	{{ error.message|safe }}
  </body>
</html>
