Navigate to your IPFS node. It is set to the address <a href="{{ data.ipfs_node }}/webui">{{ data.ipfs_node }}/webui</a> in your configuration file.  
<br>
Look at the directories pushed online during <em>publish</em>.  </p>
<ul>
<li>
<p>One of them contains the suffix <strong>0_public</strong>.<br />
  This directory contains the static site that future visitors will see online.  </p>
</li>
<li>
<img alt="" src="../static/2025-02-07_18-34.png" />  </p>
</li>
</ul>
<h2>Visit your project online</h2>
<p>We will now head to your IPFS gateway to see the actual online content.<br />
Your IPFS gateway should be available at this address <em>{{ data.ipfs_gateway }}</em><br />
Now, in order to know the complete address to your content, we first need to retrieve its <a href="https://docs.ipfs.tech/concepts/content-addressing/#what-is-a-cid" target="_blank">CID</a></p>
<h4>Right click on the directory containing your static website</h4>
<p>and click on <strong>Copy CID</strong><br />
<img alt="" src="../static/2025-02-07_18-35.png" />  </p>
<h3>Put everything together</h3>
<p>Your final URL has 3 parts:    </p>
<ul>
<li>
<font color="green">
  URL of your gateway
</font><br />
</li>
<li>
<font color="orange">
the path <em>/ipfs/</em>
</font><br />
</li>
<li>
<font color="red">
the CID of your directory
</font><br />
</li>
</ul>
<p>So, to summarize: if the address to your gateway is <em><font color="green">{{ data.ipfs_gateway }}</font></em>, and the CID for your static site is <em><font color="red">bafybeihzwwv6arkvz2llc46a5252baastlrnftv7ccdmnc74byd5inxnbi</font></em> for example,<br />
then your final URL would be</p>
<h4><font color="green">{{ data.ipfs_gateway }}</font><font color="orange">/ipfs/</font><font color="red">bafybeihzwwv6arkvz2llc46a5252baastlrnftv7ccdmnc74byd5inxnbi</font></h4>
<p>Visit the page to see your final content.  </p>
