<h5>Current project</h5>
<h2>{{ data.name|safe }}</h2>
<h5>(in folder {{ data.directory|safe }})</h5>
<p><button onclick="redirect()"><b>Choose another project</button></p>
<br>
<br>
<script>
  function redirect() {
    window.location.href="./undefined";
  }
</script>
