<h1>Overview of {{root}}</h1>
<ul>
    <a href="..">
        ..
    </a>
    {% for file in files %}
    <li>
        <a href="{{ (request.path + '/' if request.path != '/' else '') + file }}">
            {{ file }}
        </a>
    </li>
    {% endfor %}
</ul>
