<!DOCTYPE html>
<!-- This file provides the necessary environment to test out your static website, as if it were already published on IPFS. -->
<!-- To do so, it creates an iframe and ask to access your content to your main page (index.html) -->
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
</head>

<body>
    <iframe id=contentframe style="
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    border: none;
    margin: 0;
    padding: 0;
    z-index: 2;
    height: 100%">
    </iframe>
</body>
<script>
    let frame = document.getElementById("contentframe");
    window.addEventListener("message", function (event) {
        if (event.origin === (new URL(frame.src)).origin) {
            if (event.data.redirect) {
                window.location.href = event.data.redirect;
            }
            else if (event.data === "loaded") {
                frame.contentWindow.postMessage("received", "*");
             }
        }
    });
    frame.src = "{{ url }}/index.html";
</script>

</html>
