{% include "unified-css.html" %}
{% include "header.html" %}
{% include "request.html" %}
<p></p>

<br>
<h1>Preview imported files</h1>
<p>If you already imported one or more Geojson files, you can preview them on an interactive map</p>
<h2><a href="../browse/content/preview/geojson/index.html">preview geojson files</a></h2>
<br>
<h1>Import a GEOJSON file</h1>
<p>If you don't know where to start, you can create a new GEOJSON file interactively on <a href="https://geojson.io" target="_blank">https://geojson.io</a>  </p>
<p>You can import as many GEOJSON files as you want.  </p>
<p>A geofence will be generated for each file imported.<br>
Geofences are pieces of data that make your content available in real world locations.</p>
<h2>Option 1</h2>
<h4>Upload a GEOJSON file</h4>
<p><input type="file" id="geojsonFile">  </p>
<p><button id="importGeofile" type="button" onclick="importGeo('file')" style="font-size: 16px;">Import GEOJSON</button></p>
<div id="confirm-file"></div>

<h2>Option 2</h2>
<h4>Paste the content of a GEOJSON file</h4>
<p><input type="json" id="geojsonContent" value='{"type": "FeatureCollection", "features": []}'>   </p>
<p><button id="importGeostr" type="button" onclick="importGeo('str')" style="font-size: 16px;">Import GEOJSON</button></p>
<div id="confirm-str"></div>

<br>
<details>
<summary>Technical information</summary>
Check out command line

<br>
<em>helimura geojson --help</em>  

<br>
to import geojson files from your terminal

<br>
</details>
<br>
<h1>Other options</h1>
<h2>Start over</h2>
<p>If you are not satisfied with the imported files and wish to start from scratch, click on the button below  </p>
<p><button id="resetgeo"  style="font-size: 16px;" onclick="resetFiles()">Remove all imported files</button></p>
<div id="reset-str"></div>
<script>
async function resetFiles(){
    const result = await sendRequest("geojson", {"name":"*", "geojson_action": "remove"});
    var d = document.getElementById("reset-str");
    printResult(result, d);
}

async function importGeo(contentType) {
    let geojson;
    const data = {};
    if (contentType == "file") {
        const selectedFile = document.getElementById("geojsonFile").files[0];
        if (selectedFile !== undefined) {
            geojson = JSON.parse(await selectedFile.text());
            geojson.name = geojson.name || selectedFile.name;
        } else return;

    } else if (contentType == "str") {
        geojson = JSON.parse(document.getElementById("geojsonContent").value);
    } else return;

    if (geojson !== undefined) {
        data.geojson_action = "add";
        data.fromtxt = JSON.stringify(geojson);
        data.name = geojson.name || String(Math.floor(Math.random()*90000) + 10000)+".geojson";
        const result = await sendRequest("geojson", data);
        var d = document.getElementById("confirm-"+contentType);
        printResult(result, d);
    }
}
</script>
