 <table>
  <tr>
    <td style="padding:0 82px 0 15px;">
      {% include "current-project-banner.html" %}
    </td>
    <td>
      {% include "guide-banner.html" %}
    </td>
  </tr>
</table>
<br>
<h3><a onclick="window.location.replace(document.referrer)">Back to previous page</a></h3>
<br>
