{% include "unified-css.html" %}
{% include "header.html" %}
{% include "request.html" %}
<h1>Change project information</h1>
<h3>You can freely change your project parameters here. Don't forget to save your modifications</h3>
<textarea type="text" style="font-size: 18px;" id="settings" tag="editable" rows="30" cols="80">{{ data.text|safe }}</textarea>
<div id="pdresult"></div>
<p><button onclick="confirmInput()" style="font-size: 24px;"><b>Confirm change</b></button></p>
<script>
    async function confirmInput() {
        let settings = document.getElementById("settings");
        let data = { "text": settings.value};
        let result = await sendRequest("update", data);
        printResult(result, document.getElementById("pdresult"));
    }
</script>
<details markdown="1">
<summary>Technical information</summary>
If you modify the configuration file directly in your project folder, you need to apply the change with the CLI command line: 

<br>
<em>helimura build [path to your project directory]</em>  

<br>
Same goes for any modification you make in the files under the template folder, of your project.
<br>
Check out <a href="../tutorial/artwork-config">../tutorial/artwork-config####Annexe for advanced users</a> for more info 
</details>
