
{% include "unified-css.html" %}
{% include "header.html" %}
{% include "request.html" %}
<p></p>

<h1>Create a reference to another project</h1>
<h2>References already existing in your project</h2>
Preview the references you already created: <br>
<h3><a href="../browse/{{data.path.preview_geofence_path}}/index.html">Your references to other projects</a></h3>
<br>
<h2>Fetch</h2>
To create a reference, the geofences of the external project will be downloaded. The URL of these geofences contains their 
<a href="https://ipfs.io">CID</a>. Ask this CID to the creator of this other project.
<p>First, we need to fetch the geofences on IPFS. Enter their URL below:</p>
<p><input type="text" id="reference" size="80" tag="editable" value="{{ data.src_gateway|safe }}/ipfs/<cid-of-another-project's geofences>">
 <button onclick="fetchReference()">Fetch reference</button></p>
<div id="reference-result"></div>
<h2>Redirect</h2>
Your visitors will be able to see the following static site, if they enter one of these geofences. Is the URL correct?<br>
<p><input type="text" id="redirect"  size="80" tag="editable" value=""><button onclick=changeRedirect()>Change redirection</button></p>
<div id="redirect-result"></div>
If your are satisfied with the previous parameters, click below:<br>
<p><button id="proceed" style="font-size: 36px" onclick="proceed()">Proceed</button></p>
<div id="proceed-result"></div>
<br>
<h2>Start over</h2>
<p>If you wish to start from scratch, click on the button below to start over  </p>
<p><button id="reset"  style="font-size: 16px;" onclick="reset()">Remove all external references</button></p>
<div id="reset-result"></div>

<script>
  function getReferenceInfo(){
    var reference = document.getElementById("reference").value;
    var _, ipfs, gateway, http, cid = "";
    var match = reference.match(/^(https?\:\/\/)?(.+)\/(ip[nf]s)\/([a-zA-Z0-9]+)\/?$/); 
    if (match) {
      [_, http, gateway, ipfs, cid] = match;
    } else {
      match =  reference.match(/^(https?\:\/\/)?([a-zA-Z0-9]+)\.(ip[nf]s)\.(.+)$/);
      [_, http, cid, ipfs, gateway] = match;
    }
    http = http || "http://";
    return [http, gateway, ipfs, cid];
  }
  async function proceed(){
    var reference = document.getElementById("reference").value;
    var d = document.getElementById("proceed-result");
    let result = await sendRequest("geofence", {"geofence_action": "download", "extra": [reference]});
    if (result.result === "failure"){
      printResult(result, d);
      return;
    }
    if (changeRedirect() !== 1){
      printResult(result, d);
    }
  }
  async function reset(){
    var d = document.getElementById("reset-result");
    const result = await sendRequest("geofence", {"geofence_action": "reset"});
    printResult(result, d);

  }
  async function changeRedirect(){
    var d = document.getElementById("redirect-result");
    var e = document.getElementById("redirect");
    var ipfs, gateway, http, cid = "";
    [http, gateway, ipfs, cid] = getReferenceInfo();
    console.log([http, gateway, ipfs, cid])
    result = await sendRequest("geofence", {"geofence_action": "redirect", "extra": [e.value, cid]});
    console.log(result)
    if (result.result === "failure"){
      printResult(result, d);
      return 1;
    }
  }
  async function fetchReference(){
    var reference = document.getElementById("reference").value;
    var e = document.getElementById("redirect");
    var d = document.getElementById("reference-result");
    const result = await sendRequest("fetch", {"url":`${reference}`});
    printResult(result, d);
    // globalThis is a special variable in javascript, allowing to store a value in global scope
    globalThis = JSON.parse(result.output.replaceAll("\n", ""));
    var ipfs, gateway, http, cid = "";
    [http, gateway, ipfs, cid] = getReferenceInfo();
    e.value = ("{{ data.dest_gateway|safe }}"||`${http}${gateway}`) + `/${ipfs}/${globalThis["related_to"]}`;
   }
</script>
