{% include "unified-css.html" %}
{% include "request.html" %}

{% include "guide-banner.html" %}
<h1>Create new project</h1>
<br>
<p>Parent folder</p>
<p><input type="text" id="proj-dir" tag="editable" onchange="changeName()" value="{{ data.directory|safe }}" size="50"></p>
<p>New project name  </p>
<p><input type="text" id="proj-name" tag="editable" value="{{ data.name|safe }}"></p>
<br>
<p>from template:
<select name="template" id="template">
</select></p>
<br>
<p><button onclick="createProject()" style="font-size: 24px;"><b>Create<br>new project</b></button></p>
<br>
<em>If you want to showcase your artworks in real world locations, the template 'webpage' is a good starter.<br>
If you'd rather redirect your visitors to external projects, start with the template 'gallery'.</em>
<div id="pdresult"></div>

<script>
window.onload = () => {
  var templates = {{ data.templates|safe }};
  let t = document.getElementById("template");
  for (let i in templates){
    var o = document.createElement("option");
    o.value = templates[i];
    o.text = o.value;
    t.add(o);
  }
}
function changeName(){
  let input = document.getElementById("proj-dir");
  let name = document.getElementById("proj-name");
  name.value = input.value.replace(/^.*(\\|\/|\:)/, '');
}
async function createProject() {
  let input = document.getElementById("proj-dir");
  let template = document.getElementById("template");
  let name = document.getElementById("proj-name");
  const result = await sendRequest("init", { "root": input.value, "name": name.value, "template": template.value });
  let j = await result.json;
  printResult(result, document.getElementById("pdresult"));
  if (result.result !== "failure") {
    window.location.replace(document.referrer)
  }
}
</script></body></html>
