<h1>Preview</h1>
<h2>Browse your project</h2>
<h4><a href="../browse">Browse your files</a><br /></h4>
{{data.path}}
<h2>Preview your draft</h2>
<h4><a href="../preview/frame">From an iframe</a><br /></h4>
<h4><a href="../preview/{{data.path.draft_dist_path}}/index.html">without iframe</a><br /></h4>
<h2>Preview your data on an interactive map</h2>
<h4><a href="../browse/{{data.path.preview_geojson_path}}/index.html">Geojson files</a><br /></h4>
<h4><a href="../browse/{{data.path.preview_geofence_path}}/index.html">Geofences of external projects</a><br /></h4>
