
<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Geojson files not found</title>
  </head>
  <body>
    <h1>404 - Geojson files not found</h1>
    <p>The content to preview cannot be found. Are you sure this path exists?</p>
    <h3>{{ data.path|safe }}</h3>

Verify whether you <a href="../../setup/geofence">imported at least one Geojson file</a> to your project <br>  
</body>
</html>
