{% include "unified-css.html" %}
{% include "header.html" %}
{% include "request.html" %}

This is the content of your configuration file: <br>
<textarea type="text" readonly rows="12" cols="40">{{ data.config|safe }}</textarea>
<br>
You can modify it <a href="info">here</a>
<br>
<h2>(OPTIONAL) Build a release version</h2>
<details>
<summary>Details</summary>
During publish, a final version of your work is generated and dumped into a directory. This is that same directory that will be pushed to IPFS.<br>
<em>Publish</em> automatically runs this optional step before pushing the result directly.<br>
You can optionally launch the release process if you want to check out what will be pushed to IPFS.<br>
<br>
Otherwise, directly jump to the next section.
<br>
<p><button id="release"  style="font-size: 20px;" onclick="release()">Generate release version</button></p>
<div id="release-result"></div>
<div id="release-browse" style="display: none">
<h2>Browse your data</h2>
<p>You can browse the directory containing the release version of your project.<br>
One of the directories ({{data.path.release_public_name}}) contains the webpage your visitors will see when your content is online.<br>
Other directories will also be pushed to IPFS and contain various resourceful data.<br>  
<br>
<a href="../browse/release">browse release version</a></p>
</div>
</details>
<script>
  async function release() {
    var d = document.getElementById("release-result");
    const result = await sendRequest("release", {});
    printResult(result, d);
    if(result.result !== "failure") {
      document.getElementById("release-browse").style = "display: block"; 

    }
  }
</script>

<h1>Publish your project</h1>
<p>Your project will be uploaded to this IPFS node: <input type="text" onchange="updateLink()" id="ipfs-node" tag="editable" value="{{ data.ipfs_node|safe }}">
<button id="modify-value"  style="font-size: 16px;" >change</button></p>
<br>
<h4>If everything is in order, click on "Proceed" to publish your project</h4>
<p><button id="publish"  style="font-size: 32px;" onclick="publish()">Proceed</button></p>
<div id="publish-result"></div>
<br>
<h3><a id="url" href="" target="_blank">Go to your IPFS node</a></h3>

<script>
  function updateLink(){
    var u = document.getElementById("url");
    u.href=document.getElementById("ipfs-node").value+"/webui";
    
  }
  async function publish() {
    var d = document.getElementById("publish-result");
    const result = await sendRequest("publish", {"ipfs_node":document.getElementById("ipfs-node").value});
    printResult(result, d);
  }
  window.onload = () => {
    var ip = document.getElementById("ipfs-node")
    ip.value = ip.value || "http://127.0.0.1:5001";
    updateLink();
  }
</script>
<details>
<summary>Technical information</summary>
Publishing a project on this page is equivalent of CLI command line:   

<br>
<em>helimura publish [path to your project directory]</em>  

<br>
As for building a release version  

<br>
<em>helimura release [path to your project directory]</em>  
</details>
