{% include "unified-css.html" %}
{% include "header.html" %}
{% include "request.html" %}
<br>
<h1>Welcome to the project builder!</h1>
<br>
<p>You can preview a draft of your work <a href="../preview/{{data.path.draft_dist_path}}/index.html">here</a></p>
<br>
<h2>Configure</h2>
(Optional) change details about your project (author name, email, ...)
<h4><a href="info">configure</a></h4>
<!-- Modify project information -->
<br>
<h2>Now let's start with adding geofences to your project!</h2>
<br>
You need to import Geojson files to show your project in the real world. Once imported, Helimura will generate geofences for you. 
Click on the link below
<h4><a href="geojson">Import a GEOJSON file to your project</a></h4>
<!-- Import GEOJSON files that will automatically be converted into geofences, containing the content of this project -->
<br>
<h2>Would you rather use the geofences of other projects already on IPFS?</h2>
<br>
 You can create links that will redirect your visitors to these other projects.
<h4><a href="link">Link this project to other projects published on IPFS</a></h4>
<!-- Fetch other projects' geofences and add a link to them -->
<br>
<h2>It's publish time!</h2>
<h4><a href="publish">Publish project to IPFS</a></h4>
<!-- Push the release version of this project to IPFS. -->
<br>
<h1>Preview</h1>
<h2>Browse your project</h2>
<h4><a href="../browse">Browse your files</a><br /></h4>
<h2>Preview your draft</h2>
<h4><a href="../preview/frame">From an iframe</a><br /></h4>
<h4><a href="../preview/{{data.path.draft_dist_path}}/index.html">without iframe</a><br /></h4>
<h2>Preview your data on an interactive map</h2>
<h4><a href="../browse/{{data.path.preview_geojson_path}}/index.html">Geojson files</a><br /></h4>
<h4><a href="../browse/{{data.path.preview_geofence_path}}/index.html">Geofences of external projects</a><br /></h4>
