{% include "unified-css.html" %}
{% include "request.html" %}

<h3>
{% include "guide-banner.html" %}
</h3>

<h1>Already familiar with Helimura?</h1>
<h4>What is the path to your project?</h4>
<p><input type="text" id="proj-dir" size="40" tag="editable" value="{{ data.directory|safe }}">
<button onclick="changeRoot()"><b>Set project<br>path</b></button></p>
<div id="pdresult"></div>

<script>

async function changeRoot(){
    let input = document.getElementById("proj-dir");
    const result = await sendRequest("chroot", {"path": input.value});
    printResult(result, document.getElementById("pdresult"));
    if(result.result !== "failure") {
      window.location.href = "/";
    }
  }
</script>
<br>
<h3>If you want to create a new project, go to page <a href="new">Create a new project</a></h3>
